@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.scroll-to-top {
  border-radius: 40px !important;
  box-shadow: 0 7px 30px 0 rgb(132 128 177 / 50%) !important;
  background-color: #FF9302 !important;
}
